
week-1/.ipynb_checkpoints/carto-intro-Python-checkpoint.ipynb
week-1/.ipynb_checkpoints/exercise-1-checkpoint.ipynb
week-1/.ipynb_checkpoints/carto-intro-Python-checkpoint.ipynb
/week-1/.ipynb_checkpoints
week-1/cache/4dede2af5b1143642082de362cffd8a8d51012ff.json
week-1/cache/b3401dafbac8a8084b18faae746cfb3bb402f6a8.json
